<h1>Team Details</h1>

<p><strong>Name:</strong> <%= @team.name %></p>

<br>

<h2>Members</h2>

<ul>
  <% if @team.members %>
    <% @team.members.each do |member| %>
      <li><%= link_to member.name, member %></li>
    <% end %>
  <% end %>
</ul>

<br>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
